body{
    background-color: #cc99ff;
}
h1{
    color: red;
    align-content: center;
}
.sqaure{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;
}
#circle{
    color: darked;
    font-size: 40px;  
    border: dotted;
}
.container{
    background: linear-gradient(to left, #00ccff,#b3f0ff);
    color: blue;
    border: dotted;
}
h2{
    text-shadow: -2px -2px 5px black;
}
h3{
    color: rgb(0,204,255);
    text-shadow: -1px -2px 2px darkblue;
}