.navbar { 
    display: flex; 
    justify-content: space-between; 
    padding: 15px; 
    background: #333; 
    color: white; 
}

.navbar ul { 
    list-style: none; 
    display: flex;
     gap: 15px; 
    }

.navbar ul li a {
     color: white;
     text-decoration: none; 
    }